*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY CLASSES */
.active{
    background: #fff;
    color: #333 !important;
}



.container{
    max-width: 1100px;
    margin: auto;
}


.navbar{
    background: #333;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo{
    margin-top: 1rem;
    margin-left: 1rem;
    color: #f4f4f4;
    font-family: cursive;
}

.links{
    list-style: none;
    display: flex;
}

.nav-link{
    display: inline-block;
    text-decoration: none;
    padding: 1rem;
    color: #fff;
    transition: all 0.4s ease-in-out;
}
.nav-link:hover{
    font-size: 0.9rem;
    background: rgb(233, 50, 89);
}


/* HEADER */
.header{
    background: url('../img/felipepelaquim-Ig_bBX3fyjo-unsplash.jpg') no-repeat center center/cover;
    height: 500px;
    color: #fff;
}
.shaded-bg{
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
}
.header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.input-block{
    position: relative;
}
.add-btn{
    display: inline-block;
    position: absolute;
    right: 3%;
    text-decoration: none;
    color: #fff;
    background: rgb(233, 50, 89);
    padding: 0.3rem 0.6rem;
    margin-top: 1rem;
    border-radius: 6px;
    font-size: 1rem;
}


#search{
    padding: 0.7rem 0.3rem;
    width: 600px;
    border: none;
}
#search:focus{
    outline: none;
}

/* SECTION TITLE */
.section-title{
    background: #f4f4f4;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
}


/* FEEDBACK ITEMS */
.list-section{
    /* height: 400px; */
    display: flex;
    justify-content: center;
}

.movie-list{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    margin-bottom: 2rem;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.movie-item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(233, 50, 89);
    width: 100%;
    color: #fff;
    padding: 2rem;
    /* margin-top: 2rem; */
}
.genre{
    position: absolute;
    left: 2%;
    bottom: 70%;
    background: #f4f4f4;
    color: #333;
    padding: 0.2rem;
    border-radius: 6px;
    font-size: 0.6rem;
}
.close{
    background: none;
    border: none;
    position: absolute;
    bottom: 3rem;
    right: 1rem;
}

